
.styleContainer{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 5em;

}


.imgContainer {
    width: 50%;
    height: auto;
    max-height: var(--IMG-H);
    display: flex;
    flex-direction: row;
    background-color: red;
}

.detailContainer {
    width: 35%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-left: 3.2rem;
    border: 1px solid rgba(30, 38, 192, 0);
    
}

.detailContent{
  position: -webkit-sticky; /* For Safari */
    position: sticky; 
    top: 80px; /* Adjust the top offset as needed */
    background: white; /* Optional: To ensure the content doesn't overlap with background */
    padding: 10px; /* Optional: Adjust padding as necessary */
}

  
.altImages {
    margin-right: 1em;
    position: relative;
    gap: 0.75em;
    display: flex;
    flex-direction: column;
    width: 10%;
    min-width: 100px;
    height: auto; /* Görüntülemek istediğiniz yüksekliği belirtin */
    border: 1px solid rgba(255, 0, 0, 0);
    cursor: grab;
    overflow: hidden; /* overflow'u hidden olarak ayarlayın */
  }
  
  
.altImage {
    width: 100%;
    margin-bottom: 1em;
    height: 100%;
    display: block;

}

.slider .altImage:last-child {
  margin-bottom: 20px; /* İstediğiniz margin değerini buraya yazabilirsiniz */
}
  
.altImage.active {
    border: 2px solid darkblue;
}
  
.mainImages {
    width: 100%;
    height: auto;
    margin: 0;
    border: 1px solid rgba(194, 211, 7, 0);
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0);
    overflow: hidden;


}
  
.mainImage {
    object-fit: cover;
    height: 100%;

}
.mainImage:hover{
  cursor: pointer;
}


.detailText {
    border: 1px solid rgba(2, 14, 248, 0);
    font-size: 3rem;
    text-align: start;
    font-weight: 600;
    margin-top: 0;
}

.detailContainer p {
    line-height: 1em;
}

.detailContainer p:last-child {
    margin-bottom: 2em;
}

.detailTextStudio {
    font-size: 2rem;
    border: 1px solid rgba(2, 14, 248, 0);
}



.detailPrice {
    color: black;
    border: 1px solid rgba(2, 14, 248, 0);
    text-align: start;
    font-size: 1.5em;
    margin-top: 0;
}

.detailPrice::after{
    content: " TL";
}

.boxContainer {
  display: flex;
  flex-wrap: wrap; /* Kutuların yeni satıra geçmesine izin verir */
  gap: 10px; /* Her kutu arasında 10px boşluk bırakır */
  margin-top: 3.2em;
  justify-content: flex-start; /* Kutuları yatay olarak ortalar */
  align-items: center;
  text-align:center;
  border-radius: 10px; /* Köşeleri yuvarlatır */
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #1c3a5a; /* Kutuların arka plan rengi */
  color: whitesmoke; /* Kutuların içindeki yazının rengi */
  font-size: 1.2em; /* Yazı boyutu */
  border-radius: 5px; /* Köşeleri yuvarlatır */
  cursor: pointer; /* Fare imlecini işaretçiye çevirir */
}




/* Error and Info Messages */
.errorMessage {
    color: #ff0000;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ff0000;
    margin: 20px auto;
    background-color: #ffcccc;
    max-width: 90%; /* Adjusted for smaller screens */
  }
  
  .infoMessage {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    border: 1px solid #2e5077;
    margin: 20px auto;
    max-width: 90%; /* Adjusted for smaller screens */
  }
  .placeholder {
    width: 100%;
    height: 120vh; /* Varsayılan yükseklik, ihtiyaca göre ayarlayın */
    background: #fff;
  
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
  }
  .loadImage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loadSlider{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .noDataMessage {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    background-color: #2e5077;
    color: white;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 80%;
  }



/* rowDot style */

.rowDotContainer {
  display: none;
  position:absolute;
  gap: 4px; /* Space between dots */
  left: 50%;
 
  transform: translateX(-50%);
  z-index: 3; /* Ensure this is higher than images */
}

.rowDot {
  width: 10px;
  height: 10px;
  background-color: rgb(146, 133, 133);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
  
  .rowDot:hover {
    background: rgb(255, 249, 249);
  }
  
  
  .rowDot.active {
    background-color: whitesmoke;
  }
  
  
  
  /* rowDot end */



/* popup */




.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1020;
  }
  
  .popupContent {
    position: flex;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    z-index: 1021;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .popImage{
    height: 100%;
    width: 50%;
    object-fit: contain;
    min-width: 350px; 
    border: 1px solid green;
  }

  
  .magnifier{
    position: fixed;
    width: 200px; /* Büyüteç boyutu */
    height: 200px; /* Büyüteç boyutu */
    border: 2px solid #000;
    overflow: hidden;
    pointer-events: none;
    cursor: none;
  }
  
  .magnifierImage{
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
  }
  
  
  .hoverCont {
    pointer-events: none; /* Bu, container'ın mouse ile etkileşimini engeller */
  }
  
  
  
  .closeButton {
    position: absolute;
    top: 1%;
    right: 3%;
    font-size: 2.5em;
    cursor: pointer;
    color: black;
  }
  
  .imgGlass{
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
  }
  
  .leftArrow, .rightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    border-radius: 50px;
    padding: 10px 15px;
    z-index: 5000;
    border-style:double;
  }

  .leftArrow:hover{
    cursor: pointer;
  }
  .rightArrow:hover{
    cursor: pointer;
  }
  
  .leftArrow {
    left: 10px;
  }
  
  .rightArrow {
    right: 10px;
  }
  
  /* popup end */
  
  /* altImages slider */

.newSlider {
    margin-top: 2em;
    
  }
  
  .newSlider p{
    font-weight: bold;
    text-align: center;
  }
  
  
  
  /* Arrow styles */
  .prevArrow,
  .nextArrow {
    position: sticky;
    display: flex;
    color: #1c3a5a95;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50px;
    font-size: 2.5em;
    
    
  }

  
  .nextArrow{
    bottom: 10px;
  }
  
  
  
  .altImage:hover .prevArrow,
  .altImage:hover .nextArrow {
    opacity: 1;
  }

  .slickprev, .slicknext {
    position: absolute;
    z-index: 1000;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    background-color: rgba(28, 58, 90, 0.6);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    opacity: 0;
  }
  
  .altImages:hover .slicknext,
  .altImages:hover .slickprev {
    opacity: 1;
  }
  
  .slickprev {
    top: 0; /* Arrow konumunu ayarlayın */
    left: 50%; /* Arrow konumunu ayarlayın */
    transform: translateX(-50%);
  }
  
  .slicknext {
    bottom: 35px; /* Arrow konumunu ayarlayın */
    left: 50%; /* Arrow konumunu ayarlayın */
    transform: translateX(-50%);
  }
  
   /* altImages slider end */




@media screen and (max-width: 576px) {
    .altImage, .altImages {
      display: none;
    }
  
    .detailContainer {
      width: 100%;
      margin-left: 0;
      margin-top: 0;
      overflow-y: none;
      height: auto;
    }

    .detailText{
      font-size: 1em;
    }

    .detailPrice{
      font-size: 1em;
    }
  
    .styleContainer {
      width: 100%;
      flex-wrap: wrap;
      margin-top: 1em;
    }
  
    .imgContainer {
      width: 95%;
      min-width: auto;
      margin: 0 auto;
      height: auto;
      margin-bottom: 1em;
      position: relative;
    }
  
    .mainImages {
      width: 100%;
      min-width: 0;
      height: auto;
      margin: 0;
      border: 1px solid rgba(194, 211, 7, 0);
      display: flex;
      background-color: rgba(255, 0, 0, 0);
    }
    
    .mainImage {
      width: 100%;
      height: auto;
      min-height: max-content;
      position: relative;
    }
    
    .rowDotContainer {
      display: flex;
      position: absolute;
      left: 50%;
      bottom: 10px; /* Adjust this value to position the dots slightly above the bottom edge */
      transform: translateX(-50%);
      z-index: 3; /* Ensure this is higher than images */
    }
    
    .popImage{
        object-fit: cover;
    }

    .detailContainer{
      align-items: flex-start;
      margin-top: 0;
    }
    .detailText{
      margin-top: 0;
    }
    .detailPrice{
      text-align: start;
    }

    .styleContainer{
      margin-bottom: 3.5em;
    }

    .boxContainer {
      margin-top: 1.5em;
    }
    
    .box {
      width: 30px;
      height: 30px;
      font-size: 1em; /* Yazı boyutu */
    }
    


  }
  
  
  
  
  @media (min-width: 577px) and (max-width: 768px) {
    .altImage, .altImages {
      display: none;
    }
  
    .detailContainer {
      width: 100%;
      margin-left: 0;
      overflow-y: none;
      height: auto;
    }
    .detailText{
      font-size: 1.1em;
    }

    .detailPrice{
      font-size: 1.1em;
    }
  
    .styleContainer {
      flex-wrap: wrap;
      width: 100%;
      margin-top: 2em;
      position: relative;
    }
  
    .imgContainer {
      width: 100%;
      min-width: auto;
      height: auto;
      max-height: fit-content;
      margin-bottom: 1em;
    }
  
    .mainImages {
      width: 100%;
      min-width: 0;
      height: auto;
      margin: 0;
      border: 1px solid rgba(194, 211, 7, 0);
      display: flex;
      
      background-color: rgba(255, 0, 0, 0);
    }
  
    .mainImage {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  
    .mainImage Image{
      display: none;
    }
  
    .rowDotContainer {
      display: flex;
      bottom: 200px;
    }
    .popImage{
        width: 100%;
    }
    .detailContainer{
      align-items: flex-start;
      margin-top: 0;
    }
    .detailText{
      margin-top: 0;
    }
    .detailPrice{
      text-align: start;
    }.styleContainer{
      margin-bottom: 3.5em;
    }
    .boxContainer {
      margin-top: 1.7em;
    }
    
    .box {
      width: 35px;
      height: 35px;
      font-size: 1.2em; /* Yazı boyutu */
    }

  }
  
  
  
  
  
  @media (min-width: 768px) and (max-width: 900px) {
    .detailContainer {
      width: 100%;
      margin-left: 0;
      overflow-y: none;
      height: auto;
    }
  
    .styleContainer {
      flex-wrap: wrap;
    }
  
    .imgContainer {
      width: 100%;
      min-width: auto;
      margin-bottom: 2em;
      max-height:1200px;
    }
  
    .mainImages {
      width: 100%;
      min-width: 0;
      height: auto;
      margin: 0;
      border: 1px solid rgba(194, 211, 7, 0);
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 0, 0, 0);
    }
  
    .mainImage {
      width: 100%;
      height: auto;
      min-height: 1200px;
      object-fit: cover;
    }
    .popImage{
        object-fit: cover;
    }
    
  }
  
  
  
  @media (min-width: 900px) and (max-width: 1200px) {
    .detailContainer {
      width: 100%;
      margin-left: 0;
      overflow-y: none;
      height: auto;
    }
  
    .styleContainer {
      flex-wrap: wrap;
    }
  
    .imgContainer {
      width: 100%;
      min-width: auto;
      margin-bottom: 2em;
      max-height:1200px;
    }
  
    .mainImages {
      width: 100%;
      min-width: 0;
      height: auto;
      margin: 0;
      border: 1px solid rgba(194, 211, 7, 0);
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 0, 0, 0);
    }
  
    .mainImage {
      width: 100%;
      height: auto;
      min-height: 1200px;
      object-fit: cover;
    }
    .popImage{
        object-fit: cover;
    }
  
    
  }
  
  
  
  
  
  /* 2K Resolution */
  @media (min-width: 1921px) and (max-width: 2560px) {
    .detailContainer {
      width: 50%;
    }
  
    .imgContainer {
      max-height: var(--IMG-H2k);
      width: 50%;
      min-width: 1200px;
      max-width: 1300px;
    }
  
    .mainImages {
      width: 1000px;
      height: auto;
    }
  
    .mainImage {
      width: 100%;
    }
  
  
    .detailText {
      font-size: 2rem;
    }
  
    .detailContainer p {
      line-height: 2em;
    }
  
    .detailContainer p:last-child {
      margin-bottom: 3.5em;
    }
  
    .detailTextStudio {
      font-size: 5rem;
    }
  
    .detailPrice {
      font-size: 3em;
    }
  }
  
  /* 2K Resolution end*/
  
  
  
  /* 4K Resolution */
  @media (min-width: 2561px) and (max-width: 3840px) {
    .detailContainer {
      width: 40%;
    }
  
    .imgContainer {
      max-height: var(--IMG-H4k);
      width: 50%;
      min-width: 1600px;
      max-width: 1800px;
    }
  
    .mainImages {
      width: 1475px;
      height: auto;
    }
  
    .mainImage {
      width: 100%;
    }
  
    .detailText {
      font-size: 3rem;
    } 
  
    .detailContainer p {
      line-height: 3em;
    }
  
    .detailContainer p:last-child {
      margin-bottom: 4.5em;
    }
  
    .detailTextStudio {
      font-size: 6rem;
    }
  
    .detailPrice {
      font-size: 3em;
    }
  }
  
  /* 4K Resolution end*/