.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .contentWrapper {
    flex: 1;
  }
  
  .pageContainer,
  .panelContainer {
    display: flex;
    flex-direction: column;
  }
  
  .pageContent,
  .panelContent {
    flex: 1;
    margin-top: 80px;
  }


  .altBar {
    display: none;
  }
  
  @media (max-width: 768px) {
    .altBar {
      display: block;
    }
  }