.kategoriContainer {
  padding: 60px 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kategoriBaslik {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px; /* Daha küçük mobil font boyutu */
  color: black;
  font-weight: bold;
}

.kategoriListesi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.kategoriItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* İçerikleri dikey olarak yay */
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kategoriItem:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.kategoriGorsel {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 440px;
  
}

.kategoriBaslikContainer {
  text-align: center;
  font-size: 18px; /* Mobil için font boyutu */
  margin: 5px auto 15px auto;
  width: 90%; /* Başlık genişliği */
  font-weight: bold;
}

.kesfetButon {
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  font-weight: normal; /* Less bold */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto; /* Butonu alt kenara yapıştır */
}

.kesfetButon:hover {
  background-color: #555; /* Farklı bir gri tonu */
}

.placeholder {
  width: 100%;
  height: 800px; /* Varsayılan yükseklik, ihtiyaca göre ayarlayın */
  background: #fff;

}

@media (max-width: 768px) {
  .kategoriItem {
    width: calc(50% - 5px); /* Mobilde iki kart genişliği */
    height: auto;
  }
  .kategoriBaslik {
    font-size: 18px; /* Daha küçük mobil font boyutu */
  }
  .kategoriBaslikContainer {
    font-size: 16px; /* Mobil için font boyutu */
  }

}


@media (max-width: 650px) {
  .kategoriItem {
    width: calc(50% - 5px); /* Mobilde iki kart genişliği */
    height: auto;
  }


}



@media (max-width: 590px) {
  .kategoriItem {
    width: calc(50% - 5px); /* Mobilde iki kart genişliği */
    height: auto;
  }



}


@media (max-width: 500px) {
  .kategoriItem {
    width: calc(50% - 5px); /* Mobilde iki kart genişliği */
    height: auto;
  }

}




@media (max-width: 400px) {
  .kategoriItem {
    width: calc(50% - 5px); /* Mobilde iki kart genişliği */
    height: auto;
  }

}


@media (min-width: 768px) {
  .kategoriBaslik {
    font-size: 24px; /* Masaüstü için font boyutu */
    margin-bottom: 20px; /* Masaüstü için alt boşluk */
  }
  .kategoriItem {
    width: calc(33.33% - 20px); /* Masaüstü için üç kart genişliği */
    height: 575px; /* Masaüstü için yükseklik ayarı */
  }
  .kesfetButon {
    padding: 10px 20px; /* Masaüstü için buton padding */
    font-size: 16px; /* Masaüstü için buton font boyutu */
  }


}

@media (min-width: 768px) and (max-width: 1299px) {

  .kategoriBaslik {
    font-size: 24px; /* Masaüstü için font boyutu */
    margin-bottom: 20px; /* Masaüstü için alt boşluk */
  }

  .kesfetButon {
    padding: 10px 20px; /* Masaüstü için buton padding */
    font-size: 16px; /* Masaüstü için buton font boyutu */
  }

  .kategoriItem {
    width: calc(33.33% - 20px); /* Masaüstü için üç kart genişliği */
    height: auto;
  }
}

