/* General Styles */
.container {
  margin-top: 0;
  margin-bottom: 2.5%;

}


.bannerImage img {
  width: 100%;
  height: auto;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem 0 2rem;
  gap: 1.5rem;
}


.leftContainer {
  width: 100%;
}

.LeftBoxContainer {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  
}

.baslik {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  
}

.horizontalContainer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  overflow: h;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  gap: 1rem;
  position: relative;
}

.horizontalCLick{
  cursor: pointer;
}

.horizontalContainerFullWidth{
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.fullWidht {
  gap: 1rem;
  display: flex;
  justify-content: center; /* Elemanlar arasında eşit boşluk bırakır */
  
}


.scrollable {
  overflow-x: auto; 
  gap: 1rem;
  display: flex;
}

.scrollable::-webkit-scrollbar {
  display: none; /* Kaydırma çubuğunu tamamen kaldır */
}

.kategoriItemTitle {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

/* sırf  kategoriItemTitle'ın hover ın den kurtulmak ıcın urettım */
.kategoriItemTitleHorizantal {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.kategoriItemTitle:hover {
  background-color: whitesmoke; 
}


.rightArrow, .leftArrow {
  position: absolute;
  top:50%;
  transform: translate(0, -50%);
  font-size: 12px;
  color: #fff;
  z-index: 5;
  cursor: pointer;
  background: #333333;
  border-radius: 50%;
  padding: 6px 9px;
}
.rightArrow:hover, .leftArrow:hover {
  background: #555555; /* Daha açık bir siyah veya koyu gri */
}


.leftArrow {
  left: 0
}

.rightArrow {
  right: 0;
}






.rightContainer {
  width: 100%;
}

/* Tabs Styles */
.verticalTabs {
  width: 100%;
  background-color: white;
}

/* Error and Info Messages */
.errorMessage {
  color: #ff0000;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  margin: 20px auto;
  background-color: #ffcccc;
  max-width: 90%; /* Adjusted for smaller screens */
}

.infoMessage {
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border: 1px solid #2e5077;
  border-radius: 5px;
  margin: 20px auto;
  background-color: #2e5077;
  max-width: 90%; /* Adjusted for smaller screens */
}

.loaderMain { 
  display: flex;
  justify-content: center; /* Loader'ı yatay olarak ortala */
  align-items: center; /* Loader'ı dikey olarak ortala */
  height: 100vh; /* Loader'ın yüksekliğini viewport yüksekliğine eşitle */
}

.loader {
  display: flex;
  justify-content: center; /* Loader'ı yatay olarak ortala */
  align-items: center; /* Loader'ı dikey olarak ortala */
  height: 60vh ; /* bunu şimdilik koydum ust contaırın olcusu netlesınce burayı daha saglıklı yapacagız*/
}

.noDataMessage {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  background-color: #2e5077;
  color: white;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 80%;
}

/* Container for products */
.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

/* Individual product items */
.productItem {
  background-color: #fff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(33.33%);  /* Starting with 4 cards in large screens */
  margin-bottom: 0.5rem;
}


.productItemImage {
  aspect-ratio: 8 / 12; 
  width: 100%;
  height: auto;
  
}


/* Title styling for items with ellipsis for overflow */
.productItemTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 0.5rem;
  text-align: left;
}

/* Price styling with bold text */
.productItemPrice {
  font-weight: bold;
  color: black;
  margin-top: auto;
  width: 100%;
  text-align: left;
}

.baslikProduct {
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}

/* Pagination Container */
.paginationContainer {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Adjustments for tablet screens */
@media (max-width: 1023px) {
  .productItem {
    width: calc(33.33%); /* 3 cards per row */
  }
  .baslik {
    display: none; /* kategori başlığını gizler */
  }

  .mainContainer {
    padding: 0;
    gap: 0;
  }

  .LeftBoxContainer {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
    margin-bottom: 1rem;

  }



}

/* Adjustments for mobile screens */
@media (max-width: 768px) {
  .productItem {
    width: calc(50%); /* 2 cards per row */
  }

  .productItemTitle, .productItemPrice {
    font-size: 14px;
  }
  


}

@media (min-width: 1024px) {
  .mainContainer{
    flex-direction: row;
  }
  .leftContainer{
    width: 25%;
  }
  .rightContainer{
    width: 75%;
  }

  .mainContainer {
    padding: 1rem 0.5rem 0 1rem;
    gap: 0.5rem;
  }

  .kategoriItemTitle {
    font-size: 13px;
    margin-bottom: 0.4rem; /* Alttan boşluk ekleniyor */
  }

}

@media (min-width: 1300px) {
  .mainContainer{
    flex-direction: row;
  }
  .leftContainer{
    width: 20%;
  }
  .rightContainer{
    width: 80%;
  }
  .mainContainer {
    padding: 2rem 1.5rem 0 2rem;
    gap: 1.5rem;
  }

  .kategoriItemTitle {
    font-size: 14px;
    margin-bottom: 0.5rem; /* Alttan boşluk ekleniyor */
  }

}